/* CSS RESET*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Remove list style */
[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* VARIABLES */
:root {
  --space-base: 1.3rem;
  --space-small: 1rem;
  --space-medium: 2rem;
}

body {
  min-height: 100vh;
  padding: var(--space-small);
}

main {
  margin-block: var(--space-medium);
}

#search-container,
#music-container {
  margin-block: var(--space-medium);
}

.search-form {
  display: flex;
  flex-direction: column;
}

.artist-input,
.type-select,
.search-limit {
  display: flex;
  flex-direction: column;
  margin-block: var(--space-base);
}

.search-item {
  display: flex;
}
