@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

/* CSS RESET*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Remove list style */
[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* VARIABLES */
:root {
  --clr-primary: #efefeb;
  --clr-secondary: #181618;

  --space-base: 1.3rem;
  --space-small: 1rem;
  --space-medium: 2rem;

  --font-fam-primary: "Inconsolata", serif;
  --font-fam-secondary: "Karla", serif;
  --font-size-base: 1.2rem;
  --font-size-super-xl: 8rem;
  --font-weight-base: 400;
  --font-weight-thin: 200;
  --font-weight-bold: 700;
  --font-style-base: normal;
  --font-style-italic: italic;

  --padding-btn: 10px;
}

/* Common css */
body {
  min-height: 100vh;
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
  font-family: var(--font-fam-primary);
  font-weight: var(--font-weight-base);
  font-style: var(--font-style-base);
  font-size: var(--font-size-base);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-base);
}
